<h3>Привет!</h3>
<p>Пожалуйста, подтвердите свою почту, перейдя по ссылке ниже:</p>

<p>Для подтверждения почты нажмите на ссылку:</p>

<a href="https://superb-medovik-08eb81.netlify.app/?token={{token}}">
  Подтвердить Email
</a>

<p>Если вы не регистрировались — просто проигнорируйте это письмо.</p>
